In [1]:
# 1 = male, 0 = female
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import datetime as dt
from sklearn.preprocessing import StandardScaler

In [2]:
file = "customer_shopping_data.csv"
shopping = pd.read_csv(file)

In [3]:
shopping.head(5)

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,Unnamed: 9,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,NaN,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,NaN,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,NaN,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,NaN,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,NaN,Kanyon

In [4]:
shopping.drop(columns = "Unnamed: 9", inplace = True)

In [5]:
shopping.head(25)

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon
5,I227836,C657758,Female,28,Clothing,5,1500.40,Credit Card,24/05/2022,Forum Istanbul
6,I121056,C151197,Female,49,Cosmetics,1,40.66,Cash,13/03/2022,Istinye Park
7,I293112,C176086,Female,32,Clothing,2,600.16,Credit Card,13/01/2021,Mall of Istanbul
8,I293455,C159642,Male,69,Clothing,3,900.24,Credit Card,4/11/2021,Metrocity
9,I326945,C283361,Female,60,Clothing,2,600.16,Credit Card,22/08/2021,Kanyon
10,I306368,C240286,Female,36,Food & Beverage,2,10.46,Cash,25/12/2022,Metrocity
11,I139207,C191708,Female,29,Books,1,15.15,Credit Card,28/10/2022,Emaar Square Mall
12,I640508,C225330,Female,67,Toys,4,143.36,Debit Card,31/07/2022,Metrocity
13,I179802,C312861,Male,25,Clothing,2,600.16,Cash,17/11/2022,Cevahir AVM
14,I336189,C555402,Female,67,Clothing,2,600.16,Credit Card,3/6/2022,Kanyon
15,I688768,C362288,Male,24,Shoes,5,3000.85,Credit Card,7/11/2021,Viaport Outlet
16,I294687,C300786,Male,65,Books,2,30.30,Debit Card,16/01/2021,Metrocity
17,I195744,C330667,Female,42,Food & Beverage,3,15.69,Credit Card,5/1/2022,Zorlu Center
18,I993048,C218149,Female,46,Clothing,2,600.16,Cash,26/07/2021,Metropol AVM
19,I992454,C196845,Male,24,Toys,4,143.36,Cash,7/3/2023,Cevahir AVM
20,I183746,C220180,Male,23,Clothing,1,300.08,Credit Card,15/02/2023,Emaar Square Mall
21,I412481,C125696,Female,27,Food & Beverage,1,5.23,Cash,1/5/2021,Cevahir AVM
22,I823067,C322947,Male,52,Clothing,2,600.16,Credit Card,18/06/2022,Cevahir AVM
23,I252275,C313348,Male,44,Technology,5,5250.00,Cash,26/10/2021,Kanyon
24,I174250,C204553,Female,42,Books,5,75.75,Cash,16/12/2022,Metrocity

In [6]:
shopping.invoice_date = pd.to_datetime(shopping.invoice_date)
shopping['Day of week'] = shopping.invoice_date.dt.dayofweek
shopping.head(25)

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall,Day of week
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,2022-05-08,Kanyon,6
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,2021-12-12,Forum Istanbul,6
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,2021-09-11,Metrocity,5
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,2021-05-16,Metropol AVM,6
4,I337046,C189076,Female,53,Books,4,60.60,Cash,2021-10-24,Kanyon,6
5,I227836,C657758,Female,28,Clothing,5,1500.40,Credit Card,2022-05-24,Forum Istanbul,1
6,I121056,C151197,Female,49,Cosmetics,1,40.66,Cash,2022-03-13,Istinye Park,6
7,I293112,C176086,Female,32,Clothing,2,600.16,Credit Card,2021-01-13,Mall of Istanbul,2
8,I293455,C159642,Male,69,Clothing,3,900.24,Credit Card,2021-04-11,Metrocity,6
9,I326945,C283361,Female,60,Clothing,2,600.16,Credit Card,2021-08-22,Kanyon,6
10,I306368,C240286,Female,36,Food & Beverage,2,10.46,Cash,2022-12-25,Metrocity,6
11,I139207,C191708,Female,29,Books,1,15.15,Credit Card,2022-10-28,Emaar Square Mall,4
12,I640508,C225330,Female,67,Toys,4,143.36,Debit Card,2022-07-31,Metrocity,6
13,I179802,C312861,Male,25,Clothing,2,600.16,Cash,2022-11-17,Cevahir AVM,3
14,I336189,C555402,Female,67,Clothing,2,600.16,Credit Card,2022-03-06,Kanyon,6
15,I688768,C362288,Male,24,Shoes,5,3000.85,Credit Card,2021-07-11,Viaport Outlet,6
16,I294687,C300786,Male,65,Books,2,30.30,Debit Card,2021-01-16,Metrocity,5
17,I195744,C330667,Female,42,Food & Beverage,3,15.69,Credit Card,2022-05-01,Zorlu Center,6
18,I993048,C218149,Female,46,Clothing,2,600.16,Cash,2021-07-26,Metropol AVM,0
19,I992454,C196845,Male,24,Toys,4,143.36,Cash,2023-07-03,Cevahir AVM,0
20,I183746,C220180,Male,23,Clothing,1,300.08,Credit Card,2023-02-15,Emaar Square Mall,2
21,I412481,C125696,Female,27,Food & Beverage,1,5.23,Cash,2021-01-05,Cevahir AVM,1
22,I823067,C322947,Male,52,Clothing,2,600.16,Credit Card,2022-06-18,Cevahir AVM,5
23,I252275,C313348,Male,44,Technology,5,5250.00,Cash,2021-10-26,Kanyon,1
24,I174250,C204553,Female,42,Books,5,75.75,Cash,2022-12-16,Metrocity,4

In [7]:
shopping.dtypes

invoice_no                object
customer_id               object
gender                    object
age                        int64
category                  object
quantity                   int64
price                    float64
payment_method            object
invoice_date      datetime64[ns]
shopping_mall             object
Day of week                int64
dtype: object

In [8]:
shopping.drop(columns = ['invoice_no','customer_id'], inplace = True)

In [9]:
shopping.head()

,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall,Day of week
0,Female,28,Clothing,5,1500.40,Credit Card,2022-05-08,Kanyon,6
1,Male,21,Shoes,3,1800.51,Debit Card,2021-12-12,Forum Istanbul,6
2,Male,20,Clothing,1,300.08,Cash,2021-09-11,Metrocity,5
3,Female,66,Shoes,5,3000.85,Credit Card,2021-05-16,Metropol AVM,6
4,Female,53,Books,4,60.60,Cash,2021-10-24,Kanyon,6

In [10]:
shopping['Day of week'].replace(to_replace = 6, value = 'Sunday', inplace =True)
shopping['Day of week'].replace(to_replace = 5, value = 'Saturday', inplace = True)
shopping['Day of week'].replace(to_replace = 4, value = 'Friday', inplace = True)
shopping['Day of week'].replace(to_replace = 3, value = 'Thursday', inplace = True)
shopping['Day of week'].replace(to_replace = 2, value = 'Wednesday', inplace = True)
shopping['Day of week'].replace(to_replace = 1, value = 'Tuesday', inplace = True)
shopping['Day of week'].replace(to_replace = 0, value = 'Monday', inplace = True)
shopping

,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall,Day of week
0,Female,28,Clothing,5,1500.40,Credit Card,2022-05-08,Kanyon,Sunday
1,Male,21,Shoes,3,1800.51,Debit Card,2021-12-12,Forum Istanbul,Sunday
2,Male,20,Clothing,1,300.08,Cash,2021-09-11,Metrocity,Saturday
3,Female,66,Shoes,5,3000.85,Credit Card,2021-05-16,Metropol AVM,Sunday
4,Female,53,Books,4,60.60,Cash,2021-10-24,Kanyon,Sunday
...,...,...,...,...,...,...,...,...,...
99452,Female,45,Souvenir,5,58.65,Credit Card,2022-09-21,Kanyon,Wednesday
99453,Male,27,Food & Beverage,2,10.46,Cash,2021-09-22,Forum Istanbul,Wednesday
99454,Male,63,Food & Beverage,2,10.46,Debit Card,2021-03-28,Metrocity,Sunday
99455,Male,56,Technology,4,4200.00,Cash,2021-03-16,Istinye Park,Tuesday
99456,Female,36,Souvenir,3,35.19,Credit Card,2022-10-15,Mall of Istanbul,Saturday

In [22]:
stuff = shopping["Day of week"].unique()
stuff2 = shopping["category"].unique()
stuff3 = shopping['payment_method'].unique()
stuff4 = shopping['shopping_mall'].unique()
stuff4

array(['Kanyon', 'Forum Istanbul', 'Metrocity', 'Metropol AVM',
       'Istinye Park', 'Mall of Istanbul', 'Emaar Square Mall',
       'Cevahir AVM', 'Viaport Outlet', 'Zorlu Center'], dtype=object)

In [12]:
one_hot_encoded = pd.get_dummies(shopping["Day of week"], columns = ['Sunday', 'Saturday', 'Tuesday', 'Wednesday', 'Friday', 'Thursday',
       'Monday'])
one_hot_encoded

       Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
0           0       0         0       1         0        0          0
1           0       0         0       1         0        0          0
2           0       0         1       0         0        0          0
3           0       0         0       1         0        0          0
4           0       0         0       1         0        0          0
...       ...     ...       ...     ...       ...      ...        ...
99452       0       0         0       0         0        0          1
99453       0       0         0       0         0        0          1
99454       0       0         0       1         0        0          0
99455       0       0         0       0         0        1          0
99456       0       0         1       0         0        0          0

[99457 rows x 7 columns]

In [13]:
shopping.drop(columns = ['invoice_date'], inplace = True)

In [14]:
shopping

,gender,age,category,quantity,price,payment_method,shopping_mall,Day of week
0,Female,28,Clothing,5,1500.40,Credit Card,Kanyon,Sunday
1,Male,21,Shoes,3,1800.51,Debit Card,Forum Istanbul,Sunday
2,Male,20,Clothing,1,300.08,Cash,Metrocity,Saturday
3,Female,66,Shoes,5,3000.85,Credit Card,Metropol AVM,Sunday
4,Female,53,Books,4,60.60,Cash,Kanyon,Sunday
...,...,...,...,...,...,...,...,...
99452,Female,45,Souvenir,5,58.65,Credit Card,Kanyon,Wednesday
99453,Male,27,Food & Beverage,2,10.46,Cash,Forum Istanbul,Wednesday
99454,Male,63,Food & Beverage,2,10.46,Debit Card,Metrocity,Sunday
99455,Male,56,Technology,4,4200.00,Cash,Istinye Park,Tuesday
99456,Female,36,Souvenir,3,35.19,Credit Card,Mall of Istanbul,Saturday

In [15]:
shopping['gender'].replace(to_replace = 'Male', value = 1 , inplace = True)
shopping['gender'].replace(to_replace = 'Female', value = 0, inplace = True)

In [25]:
new_shop = pd.get_dummies(shopping)

In [26]:
new_shop.columns

Index(['gender', 'age', 'quantity', 'price', 'category_Books',
       'category_Clothing', 'category_Cosmetics', 'category_Food & Beverage',
       'category_Shoes', 'category_Souvenir', 'category_Technology',
       'category_Toys', 'payment_method_Cash', 'payment_method_Credit Card',
       'payment_method_Debit Card', 'shopping_mall_Cevahir AVM',
       'shopping_mall_Emaar Square Mall', 'shopping_mall_Forum Istanbul',
       'shopping_mall_Istinye Park', 'shopping_mall_Kanyon',
       'shopping_mall_Mall of Istanbul', 'shopping_mall_Metrocity',
       'shopping_mall_Metropol AVM', 'shopping_mall_Viaport Outlet',
       'shopping_mall_Zorlu Center', 'Day of week_Friday',
       'Day of week_Monday', 'Day of week_Saturday', 'Day of week_Sunday',
       'Day of week_Thursday', 'Day of week_Tuesday', 'Day of week_Wednesday'],
      dtype='object')

In [27]:
new_shop

,gender,age,quantity,price,category_Books,category_Clothing,category_Cosmetics,category_Food & Beverage,category_Shoes,category_Souvenir,...,shopping_mall_Metropol AVM,shopping_mall_Viaport Outlet,shopping_mall_Zorlu Center,Day of week_Friday,Day of week_Monday,Day of week_Saturday,Day of week_Sunday,Day of week_Thursday,Day of week_Tuesday,Day of week_Wednesday
0,0,28,5,1500.40,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1,21,3,1800.51,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
2,1,20,1,300.08,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,66,5,3000.85,0,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
4,0,53,4,60.60,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99452,0,45,5,58.65,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
99453,1,27,2,10.46,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
99454,1,63,2,10.46,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
99455,1,56,4,4200.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
99456,0,36,3,35.19,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0

In [28]:
X = new_shop.drop(columns = ['gender'])
y = new_shop['gender']

In [40]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2)
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)

In [41]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [35]:
classifier.fit(X_train, y_train)

LogisticRegression()

In [36]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.5978791291291291
Testing Data Score: 0.5986326161270863

TypeError: '(slice(None, None, None), 0)' is an invalid key